<div id="map"></div>

<button
  class="mapOptionsBtn"
  (click)="toggleOptions($event)"
>
  <div class="optionControllersBind">
    <span [ngClass]="{show: !animation.mapOptionsOpened}">+</span>
    <span [ngClass]="{show: animation.mapOptionsOpened}">-</span>
    <div
      class="mapOptionsWrapper"
      *ngIf="animation.mapOptionsOpened"
    >
      <div class="mapOptions card" (click)="rotateCard($event)">
        <div class="front side legend">
          <h5>Легенда карты</h5>
          <div class="legendImage1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="legendImage2"></div>
        </div>
        <div class="back side optionControllers">
          <p>Some text</p>
        </div>
      </div>
    </div>
  </div>
</button>
