.mainPage {
  width: 100%;
  height: 100%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.mainPageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.logo {
  img {
    width: 200px;
  }
}
.organizators {
  img {
    width: 140px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.mainPageContent {
  display: flex;
  flex: 1;
  div {
    flex: 1;
  }
}
.leftBlock {
  padding: 10px;
  h1 {
    text-align: center;
    margin-bottom: 45px;
    color: #fff;
    font-size: 4rem;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftBlockImages {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tlogoImg {
  width: 250px;
  margin-right: 10px;
}
.coatImg {
  width: 150px;
}

@media (max-width: 1010px) {
  .mainPageHeader {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 20px;
  }
  .mainPageContent {
    flex-direction: column;
  }
  .leftBlock {
    h1 {
      padding: 0 15% 0;
    }
    margin-bottom: 20px;
  }
  .tlogoImg {
    width: 200px;
  }
  .coatImg {
    width: 125px;
  }
}

@media (max-width: 600px) {
  .mainPage {
    overflow-y: scroll;
  }
  .organizators {
    img {
      width: 90px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .logo {
    img {
      width: 180px;
    }
  }
  .tlogoImg {
    width: 150px;
  }
  .coatImg {
    width: 90px;
  }
}

